.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightpink;
    width: 100%;
    padding: 20px;
}

.user-name {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    color: palevioletred;
}

.display-list {
    width: 70%;
    margin: 10px;
}

.todo-list {
    font-family: 'Roboto';
    font-size: 16px;
    color: palevioletred;
    text-align: left;
}

.name-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 3fr;
    background-color: lavenderblush;
    border-radius: 5px;
    padding: 10px;
}